<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | Resend confirmation instructions
<% end %>

<div class="content" style="width: 500px;">
  <div class="flash_message">
    <% if !resource.blank? && resource.errors.any? %>
      <div class="alert_margin alert alert-danger">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, resource.errors.full_messages.join('<br/>').html_safe, id: "flash_error" %>
      </div>
      <script>iziToast.error({ position: 'topRight', message: "<%= resource.errors.full_messages.join('<br/>').html_safe %>" });</script>
    <% end %>
  </div>

  <!-- BEGIN FORGOT PASSWORD FORM -->
  <%= nested_form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post, class: "send-confirmation-form" }) do |f| %>
    <h3 class="font-green">Resend confirmation instructions</h3>
    <p class="center"> Enter your email address below to receive instructions for how to confirm your email address.</p>
    <div class="form-group">

      <%= f.text_field :email, placeholder: "Email address", class: "form-control placeholder-no-fix", autocomplete: "off", required: true %>

    </div>

    <div class="form-actions center">
      <%= f.submit "Submit", class: "btn btn-success uppercase", data: { disable_with: 'Processing...' } %>
    </div>
  <% end %>
  <!-- END FORGOT PASSWORD FORM -->

  <div class="bottom-wrapper">
    <div class="message center">
      <a href="<%= new_user_password_path %>">Forgotten your password?</a><br/>
      Have an account? <%= link_to "Sign in", new_session_path(resource_name) %><br/>
      Don't have an account? <%= link_to('Sign up', new_user_registration_path) %>
    </div>
  </div>
</div>

<script>
  handleConfirmation();
</script>
