<li class="todo-padding-b-0">
  <div class="todo-head">
    <a id="add_bc" href="<%= new_client_business_company_bc_medical_clinic_path(@business_company.client.id, @business_company.id) %>" data-remote='true' class="btn btn-square btn-sm green todo-bold">Add Medical Clinic</a>
    <h3 style="vertical-align: sub;">Medical Clinics</h3>
  </div>
</li>

<li class="todo-padding-b-0" id="table_index">
  <% if @medical_clinics.present? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>

      <tbody>
        <% @medical_clinics.each do |medical_clinic| %>
          <tr id="<%= medical_clinic.id %>">
            <td><%= medical_clinic.name.camelize %></td>
            <td>
              <a href="<%= edit_client_business_company_bc_medical_clinic_path(@business_company.client.id, @business_company.id, medical_clinic.id) %>" data-remote="true" ><i class="icon-pencil"></i></a>
            </td>
            <td>
              <a href="<%= client_business_company_bc_medical_clinic_path(@business_company.client.id, @business_company.id, medical_clinic.id) %>" data-method="delete" data-remote="true" >
                <i style="color:red;" class="icon-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'shared/no_data', locals: {type: 'medical clinics'} %>
  <% end %>
</li>
