<% if flash[:error].blank? %>
  $('tr#<%= @medical_clinic.id %>').remove();
  <% unless @medical_clinics.present? %>
    $('#table_index').html("<%= j(render partial: 'shared/no_data', locals: { type: 'medical clinics' }) %>");
  <% end %>
<% end %>
$(".flash_message").html("<%= j(render 'shared/flash_message') %>");
$(window).scrollTop(0);
