<% if flash[:error].blank? %>
  $('.pop_up').html("<%= j(render partial: 'shared/add_preferences_popup', locals: {page: 'edit', title: 'Edit Medical Clinic'}) %>");
  $("#add-prefences-modal").modal('show');
  $('#add-prefences-modal form').validate();
<% else %>
  $(".flash_message").html("<%= j(render 'shared/flash_message') %>");
  $(window).scrollTop(0);
<% end %>
