$('.pop_up').html("<%= j(render partial: 'shared/add_preferences_popup', locals: {page: 'new', title: 'Add Medical Clinic'}) %>");
$("#add-prefences-modal").modal('show');
$('#add-prefences-modal form').validate();
