<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-dark">
      <i class="icon-settings font-dark"></i>
      <span class="caption-subject bold uppercase"> Managed Table</span>
    </div>
    <div class="actions">
      <div class="btn-group btn-group-devided" data-toggle="buttons">
        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
          <input type="radio" name="options" class="toggle" id="option1">Actions
        </label>
        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
          <input type="radio" name="options" class="toggle" id="option2">Settings
        </label>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group">
            <a href="<%= new_client_business_company_claimant_path(@business_company.client.id, @business_company.id) %>" data-remote='true' class="btn sbold green" >Add New<i class="fa fa-plus"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="btn-group pull-right">
            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="javascript:;">
                  <i class="fa fa-print"></i> Print
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-file-pdf-o"></i> Save as PDF
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-file-excel-o"></i> Export to Excel
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
      <thead>
        <tr>
          <th>
            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
          </th>
          <th> Claimant Name </th>
          <th> Claimant Phone </th>
          <th> Tasks (Number) </th>
          <th> Status </th>
          <th> Joined </th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">shuxer</a> </td>
          <td>123 456 7890</td>
          <td>10</td>
          <td>
            <span class="label label-sm label-success"> Approved </span>
          </td>
          <td class="center"> 12 Jan 2012 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">looper</a> </td>
          <td>123 456 7890</td>
          <td>32</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">userwow</a></td>
          <td>123 456 7890</td>
          <td>56</td>
          <td>
            <span class="label label-sm label-success"> Approved </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">user1wow</a></td>
          <td>123 456 7890</td>
          <td>15</td>
          <td>
            <span class="label label-sm label-danger"> Blocked </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">restest</a></td>
          <td>123 456 7890</td>
          <td>6</td>
          <td>
            <span class="label label-sm label-success"> Approved </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">foopl</a></td>
          <td>123 456 7890</td>
          <td>167</td>
          <td>
            <span class="label label-sm label-info"> Info </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">weep</a></td>
          <td>123 456 7890</td>
          <td>23</td>
          <td>
            <span class="label label-sm label-danger"> Rejected </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">coop</a></td>
          <td>123 456 7890</td>
          <td>43</td>
          <td>
            <span class="label label-sm label-info"> Info </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">pppol</a></td>
          <td>123 456 7890</td>
          <td>55</td>
          <td>
            <span class="label label-sm label-danger"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">test</a></td>
          <td>123 456 7890</td>
          <td>11</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">userwow</a></td>
          <td>123 456 7890</td>
          <td>4</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">testTom</a></td>
          <td>123 456 7890</td>
          <td>12</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">goop</a></td>
          <td>123 456 7890</td>
          <td>22</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">weep</a></td>
          <td>123 456 7890</td>
          <td>45</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">toopl</a></td>
          <td>123 456 7890</td>
          <td>33</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">userwow</a></td>
          <td>123 456 7890</td>
          <td>52</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">tes21t</a></td>
          <td>123 456 7890</td>
          <td>65</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">fop</a></td>
          <td>123 456 7890</td>
          <td>28</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
        <tr class="odd gradeX">
          <td>
            <input type="checkbox" class="checkboxes" value="1" />
          </td>
          <td><a href="BC-injury-profile.html">weep</a></td>
          <td>123 456 7890</td>
          <td>39</td>
          <td>
            <span class="label label-sm label-warning"> Suspended </span>
          </td>
          <td class="center"> 12.12.2011 </td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- magage-table -->
<!-- END EXAMPLE TABLE PORTLET -->