<div id="company-account" class="bctab-content">
  <div class="profile-content">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light ">
          <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
              <i class="icon-globe theme-font hide"></i>
              <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#company_info" aria-controls="info" role="tab" data-toggle="tab">Company Info</a></li>

              <!-- <li role="presentation"><a href="#policy" aria-controls="policy" role="tab" data-toggle="tab">Insurance Policy</a></li> -->
              <li role="presentation"><a href="#change_password" aria-controls="password" role="tab" data-toggle="tab">Client Info</a></li>

              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Task Settings</a></li>
            </ul>
          </div><!-- portlet-title -->

          <div class="portlet-body">
            <!-- Tab panes -->
            <div class="tab-content">

              <!-- PERSONAL INFO TAB -->
              <div role="tabpanel" class="tab-pane active" id="company_info">
                <%= nested_form_for @business_company, url: client_business_company_path(@business_company.client.id, @business_company.id), method: "put", remote: true, html:{ class: 'company_form', id: 'company_info_form' } do |f| %>
                  <div class="form-group">
                    <label class="control-label">Company Name</label><span class="required"> * </span>
                    <%=  f.text_field :name, class: 'form-control', placeholder: 'Company Name' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Company Phone</label><span class="required"> * </span>
                    <%=  f.text_field :phone, class: 'form-control', placeholder: 'Company Phone' %>
                  </div>

                  <%= f.fields_for :address do |ff| %>

                    <div class="form-group">
                      <label class="control-label">Company Address
                        <span class="required"> * </span>
                      </label>
                        <%= ff.text_field :address, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <label class="control-label">Company City/Town
                        <span class="required"> * </span>
                      </label>
                        <%= ff.text_field :city, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <label class="control-label">Company State
                        <span class="required"> * </span>
                      </label>
                        <%= ff.text_field :state, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <label class="control-label">Company Zip
                        <span class="required"> * </span>
                      </label>
                        <%= ff.text_field :zip, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <label class="control-label">Company Country</label>
                        <%= ff.country_select(:country,{ selected: @business_company.country.present? ? @business_company.country : "US", prompt: 'Please select..' }, { class: "form-control", required: true }) %>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <label class="control-label">Notepad</label>
                    <%=  f.text_area :notepad, class: 'form-control', placeholder: 'Message' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Broker of record</label>
                    <input type="text" placeholder="Record" class="form-control" />
                  </div>


                  <div class="form-group">
                    <label class="control-label">Who to Bill?</label>
                      <%= f.select :who_to_bill, options_for_select(BusinessCompany::WHO_TO_BILL, f.object.who_to_bill), {}, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Dedicated Email</label>
                    <input type="email" placeholder="demo@gmail.com" class="form-control" />
                  </div>

                  <div class="margiv-top-10">
                    <%= f.submit "Save Changes", class: "btn green" %>
                    <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                  </div>
                <% end %>
              </div>
              <!-- END PERSONAL INFO TAB -->

              <!-- INSURANCE POLICY TAB -->
              <div role="tabpanel" class="tab-pane" id="policy">
                <form role="form" action="#">
                  <div class="form-group">
                    <div class="template">
                      <div class="form-group">
                        <label class="control-label">Policy Number</label>
                        <input type="text" placeholder="Policy Number" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="field1">Policy Year</label>
                        <input class="year-input form-control input-medium" type="number" min="1880" max="2222" placeholder="YYYY">
                      </div>
                      <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Insurance Company search ..." >
                        <span class="input-group-addon">
                          <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                    <input type="button" id="add_more" value="+" class="btn btn-icon-only green" />
                  </div>
                </form>
              </div>
              <!-- END INSURANCE POLICY TAB -->


              <!-- CHANGE PASSWORD TAB -->
              <div role="tabpanel" class="tab-pane" id="change_password">
                <%= nested_form_for @business_company.client, url: client_path(@business_company.client.id, business_company_id: @business_company.id ), method: "put", remote: true, html:{ class: 'company_form', id: 'client_edit_form' } do |f| %>

                  <div class="form-group">
                    <label class="control-label">First Name</label>
                    <%=  f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <%=  f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <%=  f.text_field :phone, class: 'form-control', placeholder: 'Phone Number' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">New Password</label>
                    <%=  f.password_field :password, class: 'form-control', placeholder: 'New Password' %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Re-type New Password</label>
                    <%=  f.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-type New Password' %>
                  </div>

                  <div class="margin-top-10">
                    <%=  f.submit "Save Changes", class: 'btn green' %>
                    <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                  </div>
                <% end %>
              </div>
              <!-- END CHANGE PASSWORD TAB -->

              <!-- TASK SETTINGS TAB -->
              <div role="tabpanel" class="tab-pane" id="settings">
                <%= nested_form_for @business_company, url: client_business_company_path(@business_company.client.id, @business_company.id), method: "put", remote: true, html:{ class: 'company_form', id: 'company_task_form' } do |f| %>
                  <table class="table table-light table-hover">
                    <%= f.fields_for :bc_tasks, @business_company.bc_tasks.sort_by(&:created_at) do |ff|%>
                      <tr>
                        <td><%= ff.object.name %></td>
                        <td>
                          <label class="uniform-inline">
                            <%= ff.check_box :active %> Yes
                          </label>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                  <div class="margin-top-10">
                    <%= f.submit "Save Changes", class: 'btn red' %>
                    <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                  </div>
                <% end %>
              </div>
              <!-- END PRIVACY SETTINGS TAB -->

            </div>
          </div><!-- portlet-body -->
        </div><!-- portlet -->
      </div>
    </div>
  </div><!-- profile-content -->
</div><!-- company-account -->
<script>
  $(document).ready(function(){

    $('#add_more').click(function () {
      $(this).before($(".template").clone());
    });

    $('.tab-menu li').click(function(){
      var tab_id = $(this).attr('data-tab');
      $('.tab-menu li').removeClass('active');
      $('.bctab-content').removeClass('active');
      $(this).addClass('active');
      $("#"+tab_id).addClass('active');
    })

    validate_business_company($('#company_info_form'));
    validate_business_client($('#client_edit_form'));
  });
</script>
