<div class="profile-usermenu" id="company_information">
  <ul class="nav">
    <li class="active">
      <strong> Company Information </strong>
    </li>
    <li><%= @business_company.name.camelize %></li>
    <li><%= @business_company.full_address.camelize %></li>
    <li><%= @business_company.phone %></li>
    <li><%= @business_company.contact_person_name.camelize %></li>
    <li><%= @business_company.contact_person_email.camelize %></li>
  </ul>
</div>
