<div class="page-content-wrapper">
  <div class="page-content">
    <div class="todo-main-header">
      <h3>Preferences</h3>
      <ul class="todo-breadcrumb">
        <li>
          <a href="<%=  %>">Business Company</a>
        </li>
        <li>
          <a class="todo-active" href="#">Preferences</a>
        </li>
      </ul>
    </div>

    <div class="flash_message">
      <%= render partial: "shared/flash_message" %>
    </div>

    <div class="todo-container">
      <div class="row">
        <div class="col-md-12">
          <ul class="todo-projects-container">
            <li class="todo-padding-b-0">
              <select class="form-control" id="preferences_select">
                <option selected disabled="disabled">Select Preference Type</option>
                <option value="<%= client_business_company_bc_branches_path(@business_company.client.id, @business_company.id) %>">Branch </option>
                <option value="<%= client_business_company_bc_departments_path(@business_company.client.id, @business_company.id) %>">Department</option>
                <option value="<%= client_business_company_bc_medical_clinics_path(@business_company.client.id, @business_company.id) %>">Medical Clinic</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="todo-container">
      <div class="row">
        <div class="col-md-12">
          <ul class="todo-projects-container" id="preferences_index">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
