<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">

  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> Client Profile
      <span style="font-size: 16px;" id="company_title">(<%= @business_company.name.camelize %>)</span>
    </h3>
    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->

    <div class="row">
      <div class="col-md-12">

        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">

          <!-- PORTLET MAIN -->
          <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu tab-menu">
              <ul class="nav">
                <li class="active" data-tab="company-overview">
                  <a href="javascript:;" class="main_overview_link"><i class="icon-home"></i> Client Overview </a>
                </li>
                <li data-tab="company-account">
                  <a href="javascript:;" ><i class="icon-settings"></i> Account Settings </a>
                </li>
              </ul>
            </div>
            <!-- END MENU -->
          </div>
          <div class="portlet light profile-sidebar-portlet ">
            <%= render partial: 'company_information' %>
          </div>
          <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->

        <!-- BEGIN PROFILE CONTENT -->
        <div id="company-overview" class="bctab-content active">
          <div class="profile-content">
            <div class="row">
              <div class="col-md-6">

                <!-- BEGIN PORTLET -->
                <div class="portlet light ">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font hide"></i>
                      <span class="caption-subject font-blue-madison bold uppercase">Company Activity</span>
                      <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                      <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                          <input type="radio" name="options" class="toggle" id="option1">Today
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                          <input type="radio" name="options" class="toggle" id="option2">Week
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                          <input type="radio" name="options" class="toggle" id="option2">Month
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                          <div class="stat-chart">
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <div id="sparkline_bar"></div>
                          </div>
                          <div class="stat-number">
                            <div class="title"> Total </div>
                            <div class="number"> 2460 </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                          <div class="stat-chart">
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <div id="sparkline_bar2"></div>
                          </div>
                          <div class="stat-number">
                            <div class="title"> New </div>
                            <div class="number"> 719 </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                      <table class="table table-hover table-light">
                        <thead>
                          <tr class="uppercase">
                            <th> Invoices </th>
                            <th> Total </th>
                            <th> Tasks </th>
                            <th> Status </th>
                          </tr>
                        </thead>
                        <tr>

                          <td>
                            <a href="page_general_invoice_2.html" class="primary-link">123456</a>
                          </td>
                          <td> $345 </td>
                          <td> 45 </td>
                          <td> Paid </td>
                          <td>
                            <span class="bold theme-font"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="page_general_invoice_2.html" class="primary-link">123456</a>
                          </td>
                          <td> $560 </td>
                          <td> 12 </td>
                          <td> Unpaid </td>
                          <td>
                            <span class="bold theme-font"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="page_general_invoice_2.html" class="primary-link">123456</a>
                          </td>
                          <td> $1,345 </td>
                          <td> 450 </td>
                          <td> Paid </td>
                          <td>
                            <span class="bold theme-font"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="page_general_invoice_2.html" class="primary-link">123456</a>
                          </td>
                          <td> $345 </td>
                          <td> 34 </td>
                          <td> Unpaid </td>
                          <td>
                            <span class="bold theme-font"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="page_general_invoice_2.html" class="primary-link">123456</a>
                          </td>
                          <td> $645 </td>
                          <td> 50 </td>
                          <td> Paid </td>
                          <td>
                            <span class="bold theme-font"></span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- END PORTLET -->

              </div>

              <div class="col-md-6">
                <!-- BEGIN PORTLET -->
                <div class="portlet light ">
                  <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                      <i class="icon-globe theme-font hide"></i>
                      <span class="caption-subject font-blue-madison bold uppercase">Tasks</span>
                    </div>
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Pending </a>
                      </li>
                      <li>
                        <a href="#tab_1_2" data-toggle="tab"> Completed </a>
                      </li>
                    </ul>
                  </div>
                  <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1_1">
                        <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                          <ul class="feeds">
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-success">
                                      <i class="fa fa-bell-o"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Appointment Reminder for (claimant name)
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> Just now </div>
                              </div>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> Appointment Reminder for (claimant name)</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> 20 mins </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-danger">
                                      <i class="fa fa-bolt"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Update Claimant Inforamtion for (claimant name)</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 24 mins </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Notify Adjuster of New Status Report for (claimant name)</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 30 mins </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-success">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Notify Employer of Off Work Status. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 40 mins </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-warning">
                                      <i class="fa fa-plus"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Notify Employers of Full Duty Release </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 1.5 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-success">
                                      <i class="fa fa-bell-o"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Web server hardware needs to be upgraded.
                                      <span class="label label-sm label-default "> Overdue </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 2 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Prod01 database server is overloaded 90%. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 3 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-warning">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> New group created. Pending manager review. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 5 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Order payment failed. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 18 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> New application received. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 21 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Dev90 web server restarted. Pending overall system check. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 22 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> New member registered. Pending approval </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 21 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> L45 Network failure. Schedule maintenance. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 22 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Order canceled with failed payment. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 21 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Web-A2 clound instance created. Schedule full scan. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 22 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-default">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Member canceled. Schedule account review. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 21 hours </div>
                              </div>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-info">
                                      <i class="fa fa-bullhorn"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> New order received. Please take care of it. </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 22 hours </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab_1_2">
                        <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                          <ul class="feeds">
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New order received </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> 10 mins </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <div class="col1">
                                <div class="cont">
                                  <div class="cont-col1">
                                    <div class="label label-sm label-danger">
                                      <i class="fa fa-bolt"></i>
                                    </div>
                                  </div>
                                  <div class="cont-col2">
                                    <div class="desc"> Order #24DOP4 has been rejected.
                                      <span class="label label-sm label-danger "> Take action
                                        <i class="fa fa-share"></i>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col2">
                                <div class="date"> 24 mins </div>
                              </div>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:;">
                                <div class="col1">
                                  <div class="cont">
                                    <div class="cont-col1">
                                      <div class="label label-sm label-success">
                                        <i class="fa fa-bell-o"></i>
                                      </div>
                                    </div>
                                    <div class="cont-col2">
                                      <div class="desc"> New user registered </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col2">
                                  <div class="date"> Just now </div>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--END TABS-->
                  </div>
                </div>
                <!-- END PORTLET -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= render partial: 'claimant_table' %>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROFILE CONTENT -->
        <div class="company_account">
          <%= render partial: 'company_account' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->