<% unless flash[:error].present? %>
  $(".company_account").html("<%= j(render partial: 'company_account') %>");
  $("#company_title").text("(<%= @business_company.name.camelize %>)");
  $("#company_information").html("<%= j(render partial: 'business_companies/company_information') %>");
  $("#company_task_form input:checkbox").uniform();
  $("li[data-tab=company-overview] a").click();
<% end %>
$(".flash_message").html("<%= j(render partial: 'shared/flash_message') %>");
$(window).scrollTop(0);



