<div class="page-lock">
  <div class="page-logo">
      <img src="/assets/logo-big.png" alt="logo" />
  </div>
  <div class="page-body">
    <div class="lock-head"> Locked </div>
    <div class="lock-body">
      <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
      <div class="pull-left lock-avatar-block">
        <% if current_user.image.present? && current_user.image.persisted? %>
          <%= image_tag current_user.avatar, class: "lock-avatar" %>
        <% else %>
          <img src="/assets/no-image.png" class="lock-avatar">
        <% end %>
      </div>

      <%= nested_form_for(current_user, url: unlock_user_path, method: :post, html: {class: "lock-form pull-left"}) do |f| %>
        <h4><%= current_user.full_name %></h4>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control placeholder-no-fix', placeholder: 'Password', autocomplete: 'off', required: true, minlength: '8' %>
        </div>

        <div class="form-actions">
          <%= f.submit "Login", class: 'btn red uppercase' %>
        </div>
      <% end %>
    </div>
    <div class="lock-bottom">
      <a href="<%= destroy_user_session_path %>" data-method="delete">Not <%= current_user.full_name %>?</a>
    </div>
  </div>

  <div class="page-footer-custom"><%= Time.now.year %> © <%= APP_CONFIG['project_name'] %></div>
</div>

<script>
  $('form.lock-form').validate();
</script>
