<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | Login
<% end %>

<div class="content">
  <!-- BEGIN LOGIN FORM -->
  <%= nested_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
    <h3 class="form-title font-green">Sign In</h3>
    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
      <span> Enter any username and password. </span>
    </div>

    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <%= f.text_field :email, placeholder: "Username or Email", class: "form-control form-control-solid placeholder-no-fix", autocomplete:"off" %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <%= f.password_field :password, placeholder: "Password", class: "form-control form-control-solid placeholder-no-fix", autocomplete:"off" %>
    </div>

    <div class="form-actions center">
      <%= f.submit "Login", class: "btn green uppercase", data: { disable_with: 'Processing...' } %>
      <% if devise_mapping.rememberable? %>
        <label class="rememberme check">
        <%= f.check_box :remember_me %>Remember </label>
      <% end %>
    </div>

  <% end %>
  <!-- END LOGIN FORM -->

  <div class="bottom-wrapper">
    <div class="message center">
      <a href="<%= new_user_password_path %>">Forgotten your password?</a><br/>
      <a href="<%= new_user_confirmation_path %>">Resend Confirmation?</a><br/>
      Don't have an account?  <%= link_to('Sign up', new_user_registration_path) %>
    </div> <!-- end col -->
  </div>  <!-- end row -->
</div>

<script>
  handleLogin();
</script>
