
                  <!-- Modal -->
                  <div class="modal fade" id="department-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Add Department</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="departmentName">Department Name</label>
                              <input type="text" class="form-control" id="departmenthName" placeholder="Department Name">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn green" data-dismiss="modal" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>