        <div id="call-for-medical-information" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <button class="btn btn-square btn-sm purple todo-bold todo-inline">Task Type</button>
                          <p class="todo-task-modal-title todo-inline">Policy:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015" />
                          </p>
                          <p class="todo-task-modal-title todo-inline">Assign to claimant:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Claimant First & Last Name</a>
                          </p>
                        </div>
                        <div class="modal-body todo-task-modal-body">
                          <h3 class="todo-task-modal-bg">Call For Medical Clinic Information</h3>

                          <p>We are still missing the following information.</p>
                          <p>Call company to get updated information.</p>

                          <div class="extra-field-add">
                            <form class="form-horizontal" role="form">
                             <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6">
                                  <label>Company Contact:</label>
                                  <input class="form-control" type="text" placeholder="Contact Name Here" />
                                </div>
                                <div class="col-sm-6">
                                  <label>Company Phone:</label>
                                  <input class="form-control" type="text" placeholder="635-555-5555" />
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6">
                                  <select class="form-control">
                                    <option value="0" selected>All Snippets</option>
                                    <option value="1">Featured</option>
                                    <option value="2">Most popular</option>
                                    <option value="3">Top rated</option>
                                    <option value="4">Most commented</option>
                                  </select>
                                </div>

                              </div>
                            </div>
                          </form>
                        </div>



                      </div>

                      <div class="modal-footer">
                        <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn green mt-sweetalert" data-dismiss="modal" data-title="Sweet Alerts" data-message="Beautiful popup alerts" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>