<div class="col-md-5">
  <ul class="todo-projects-container">
    <li class="todo-padding-b-0">
      <div class="todo-head">
        <a id="add_bc" href="<%= new_client_path %>" data-remote='true' class="btn btn-square btn-sm green todo-bold">Add Client</a>
        <h3>Clients</h3>
        <p>4 Waiting Attention</p>
      </div>
    </li>
    <% if @business_companies.present? %>
      <% @business_companies.each do |business_company| %>
        <li class="todo-projects-item">
          <h3><a href="<%= client_business_company_path(business_company.client.id, business_company.id) %>"><%= business_company.name.capitalize %></a></h3>
          <p>Contact Name: <%= business_company.contact_person_name.capitalize %> <br>Contact Phone: <%= business_company.contact_person_phone %><br><%= business_company.notepad %></p>
          <div class="todo-project-item-foot">
            <p class="todo-red todo-inline">17 Tasks Remaining</p>
            <p class="todo-inline todo-float-r">16 Admins
              <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
            </p>
          </div>
        </li>
        <div class="todo-projects-divider"></div>
      <% end %>
    <% end %>
    <!-- <li class="todo-projects-item todo-active">
      <h3 class="todo-blue">Client 2 Name Here</h3>
      <p>Contact Name: (Company Contact Name) <br> Contact Phone: (Company Contact Phone here)<br>(SCompany Notepad Here)</p>
      <div class="todo-project-item-foot">
        <p class="todo-red todo-inline">43 Tasks Remaining</p>
        <p class="todo-inline todo-float-r">32 Admins
          <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
        </p>
      </div>
    </li> -->
  </ul>
</div>