<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

    <div class="todo-main-header">
      <h3>WCA Task Manager</h3>
      <ul class="todo-breadcrumb">
        <li>
          <a href="javascrip:;">Home</a>
        </li>
        <li>
          <a class="todo-active" href="javascrip:;">Task Manager</a>
        </li>
      </ul>
    </div>

    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>

    <div class="todo-container">
      <div class="row">
        <%= render partial: "users/dashboard/clients" %>

        <div class="col-md-7">
          <div class="todo-tasks-container">
            <div class="todo-head">
              <button class="btn btn-square btn-sm red todo-bold" data-toggle="modal" href="#add-new-claimant">New Claimant</button>
              <h3><span class="todo-grey">Task:</span> Client 2 Name Here</h3>
              <p class="todo-inline">32 Admins
                <a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>
              </p>
            </div>
            <ul class="todo-tasks-content">
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#new-email-received">New Email Received</a>
                </h4>
                <p class="todo-inline todo-float-r">Bob (WCA_Employee),
                  <span class="todo-red">TODAY</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#update-clamiant-profile">Update Clamiant profile</a>
                </h4>
                <p class="todo-inline todo-float-r">Shane,
                  <span class="todo-red">TODAY</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-adjuster-new-status-report">Notify Adjuster of New Status Report</a>
                </h4>
                <p class="todo-inline todo-float-r">Shane,
                  <span class="todo-red">TODAY</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-employer-fullduty-workstatus">Notify Employer of Full Duty Release</a>
                </h4>
                <p class="todo-inline todo-float-r">Sean,
                  <span class="todo-green">01 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-employer-off-workstatus">Notify Employer of Off Work Status</a>
                </h4>
                <p class="todo-inline todo-float-r">Shane,
                  <span class="todo-green">03 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-employer-lightduty-workstatus">Notify Employer of Light Duty Status</a>
                </h4>
                <p class="todo-inline todo-float-r">Bob,
                  <span class="todo-green">07 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-adjuster-missed-appointment">Notify Adjuster of Missed Appointment</a>
                </h4>
                <p class="todo-inline todo-float-r">Alice,
                  <span class="todo-green">08 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-adjust-newclaimant">Notify Adjuster of New Claim</a>
                </h4>
                <p class="todo-inline todo-float-r">Bob,
                  <span class="todo-green">07 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#task-missed-appointment-call">Missed Appointment Call</a>
                </h4>
                <p class="todo-inline todo-float-r">Alice,
                  <span class="todo-green">08 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#employer-missinginfo">Notify Employer of Missing Information Call</a>
                </h4>
                <p class="todo-inline todo-float-r">Alice,
                  <span class="todo-green">08 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#call-for-medical-information">Call For Medical Clinic Information</a>
                </h4>
                <p class="todo-inline todo-float-r">Bob,
                  <span class="todo-green">07 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#notify-missing-info-reminder">Notify Employer of Missing Claimant Information Reminder</a>
                </h4>
                <p class="todo-inline todo-float-r">Alice,
                  <span class="todo-green">08 OCT</span>
                </p>
              </li>
              <li class="todo-tasks-item">
                <h4 class="todo-inline">
                  <a data-toggle="modal" href="#task-missing-claimant-info">Notify Employer of Missing Claimant Information</a>
                </h4>
                <p class="todo-inline todo-float-r">Bob,
                  <span class="todo-green">07 OCT</span>
                </p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <%= render partial: 'users/dashboard/new_email_received_popup' %>
    <%= render partial: 'users/dashboard/update_claimant_popup' %>
    <%= render partial: 'users/dashboard/medical_clinic_popup' %>
    <%= render partial: 'users/dashboard/add_branch_popup' %>
    <%= render partial: 'users/dashboard/add_department_popup' %>
    <%= render partial: 'users/dashboard/notify_adjuster_new_status_report_popup' %>
    <%= render partial: 'users/dashboard/notify_employer_fullduty_work_status_report_popup' %>
    <%= render partial: 'users/dashboard/notify_employer_off_workstatus_popup' %>
    <%= render partial: 'users/dashboard/notify_employer_lightduty_workstatus_popup' %>
    <%= render partial: 'users/dashboard/notify_adjuster_missed_appointment_popup' %>
    <%= render partial: 'users/dashboard/notify_adjuster_new_claimant_popup' %>
    <%= render partial: 'users/dashboard/task_missed_appointment_popup' %>
    <%= render partial: 'users/dashboard/employer_missing_info_popup' %>
    <%= render partial: 'users/dashboard/notify_adjuster_new_claimant_popup' %>
    <%= render partial: 'users/dashboard/call_for_medical_popup' %>
    <%= render partial: 'users/dashboard/notify_missing_info_reminder_popup' %>
    <%= render partial: 'users/dashboard/task_missing_claimant_info_popup' %>

    <!-- END CONTENT BODY -->
  </div>
  <!-- END CONTENT -->
</div>
<%= render partial: 'users/dashboard/new_claimant_popup' %>
<%= render partial: 'users/dashboard/todo_task_popup' %>
<%= render partial: 'users/dashboard/todo_members_popup' %>
