                  <!-- Modal -->
                  <div class="modal fade" id="medical-clinic-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Add Medical Clinic</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="clinicName">Clinic Name</label>
                              <input type="text" class="form-control" id="clinicName" placeholder="Clinic Name">
                            </div>
                            <div class="form-group">
                              <label for="clinicAddress">Clinic Address</label>
                              <input type="text" class="form-control" id="clinicAddress" placeholder="Clinic Address">
                            </div>
                            <div class="form-group">
                              <label for="clinicPhone">Clinic Phone</label>
                              <input type="text" class="form-control" id="clinicPhone" placeholder="Clinic Phone">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn green" data-dismiss="modal" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>