<div id="add-new-claimant" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <button class="btn btn-square btn-sm blue todo-bold todo-inline">Task Type</button>
        <p class="todo-task-modal-title todo-inline">Policy:
          <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015" />
        </p>
        <p class="todo-task-modal-title todo-inline">Assign to claimant:
          <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Claimant First & Last Name</a>
        </p>
      </div>
      <div class="modal-body todo-task-modal-body">
        <h3 class="todo-task-modal-bg">Add New Claimant Profile</h3>


        <p>demo@gmail.com</p>
        <p>demo1@gmail.com</p>
        <p>demo2@gmail.com</p>
        <h4>Attach Status Report (Make + icon browse for file when clicked)
          <a class="todo-add-button" href="javascrip:;">+</a>
        </h4>
        <p class="todo-task-file">
          <i class="fa fa-file-o todo-grey"></i> menu_screen.jpg
          <i class="fa fa-times todo-remove-file"></i>
        </p>
        <p class="todo-task-file">
          <i class="fa fa-file-o todo-grey"></i> comments.jpg
          <i class="fa fa-times todo-remove-file"></i>
        </p>
        <h4>Form 45 Report (Make + icon browse for file when clicked)
          <a class="todo-add-button" href="javascrip:;">+</a>
        </h4>
        <p class="todo-task-file">
          <i class="fa fa-file-o todo-grey"></i> menu_screen.jpg
          <i class="fa fa-times todo-remove-file"></i>
        </p>
        <p class="todo-task-file">
          <i class="fa fa-file-o todo-grey"></i> comments.jpg
          <i class="fa fa-times todo-remove-file"></i>
        </p>
        <div class="extra-field-add">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>Claimant Name:</label>
                  <input class="form-control" type="text" placeholder="Claimant Name" />
                </div>
                <div class="col-sm-6">
                  <label>Claimant Phone:</label>
                  <input class="form-control" type="text" placeholder="Claimant Phone" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Work Status:</label>
              <select class="form-control">
                <option value="0" selected>All Snippets</option>
                <option value="1">Full Duty</option>
                <option value="2">Light Duty</option>
                <option value="3">Off Work</option>

              </select>
            </div>

            <div class="form-group">
              <label>Medical Clinic:</label>
              <div class="row">
                <div class="col-xs-11">
                  <select class="form-control">
                    <option value="0" selected>All Clinic</option>
                    <option value="1">Clinic 1</option>
                    <option value="2">Clinic 2</option>
                    <option value="3">Clinic 3</option>

                  </select>
                </div>
                <div class="cols-xs-1 pull-left">
                  <a class="todo-add-button plus-btn" id="add-clinic" href="javascript:void(0)">+</a>
                </div>

                <div id="addNewClinic" class="col-sm-12">
                  <div class="form-group">
                    <label>Clinic Name:</label>
                    <input class="form-control" type="text" placeholder="Clinic Name" />
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <label>Clinic Address:</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Clinic Street" />
                      </div>
                      <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Clinic City" />
                      </div>
                      <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Clinic State" />
                      </div>
                      <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Clinic Zip" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Clinic Phone:</label>
                    <input class="form-control" type="text" placeholder="Clinic Phone" />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Followup Appointment Date:</label>
              <div class="input-group date form_datetime form_datetime bs-datetime">
                <input type="text" size="16" class="form-control">
                <span class="input-group-addon">
                  <button class="btn default date-set" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>Branch:</label>
                  <select class="form-control">
                    <option value="0" selected>Branch</option>
                    <option value="1">Branch 1</option>
                    <option value="2">Branch 2</option>
                    <option value="3">Branch 3</option>

                  </select>
                </div>
                <div class="col-sm-6">
                  <label>Department:</label>
                  <select class="form-control">
                    <option value="0" selected>Department</option>
                    <option value="1">Department 1</option>
                    <option value="2">Department 2</option>
                    <option value="3">Department 3</option>

                  </select>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn green mt-sweetalert" data-dismiss="modal" data-title="Sweet Alerts" data-message="Beautiful popup alerts" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('#add-clinic').click(function(){
      $(this).toggleClass('active');
      $('#addNewClinic').slideToggle('1000');
    });
  });
</script>