
                  <div id="new-email-received" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <button class="btn btn-square btn-sm grey todo-bold todo-inline">Task Type</button>
                          <p class="todo-task-modal-title todo-inline">Policy:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015" />
                          </p>
                          <p class="todo-task-modal-title todo-inline">Assign to claimant:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Claimant First & Last Name</a>
                          </p>
                        </div>

                        <div class="modal-body todo-task-modal-body">
                          <h3 class="todo-task-modal-bg">New Email Received</h3>


                          <p>Email Subject Line </p>
                          <p>Email From</p>
                          <p>Email Body</p>
                          <h4>Attached File: (Here are the attached files in the email for use to download and open)
                          </h4>
                          <p class="todo-task-file">
                            <i class="fa fa-file-o todo-grey"></i> menu_screen.jpg
                            <i class="fa fa-times todo-remove-file"></i>
                          </p>
                          <p class="todo-task-file">
                            <i class="fa fa-file-o todo-grey"></i> comments.jpg
                            <i class="fa fa-times todo-remove-file"></i>
                          </p>
                        </div>

                        <div class="modal-footer">
                          <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                          <button class="btn green mt-sweetalert" data-dismiss="modal" data-title="Sweet Alerts" data-message="Beautiful popup alerts" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                        </div>



                      </div>
                    </div>
                  </div>
