  <div id="task-missed-appointment-call" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <button class="btn btn-square btn-sm purple todo-bold todo-inline">Task Type</button>
                          <p class="todo-task-modal-title todo-inline">Policy:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015" />
                          </p>
                          <p class="todo-task-modal-title todo-inline">Assign to claimant:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Claimant First & Last Name</a>
                          </p>
                        </div>
                        <div class="modal-body todo-task-modal-body">
                          <h3 class="todo-task-modal-bg">Call Clinic To Verify Missed Appointment</h3>
                          <div class="extra-field-add">
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Claimant Name:</label>
                                    <input class="form-control" type="text" placeholder="Claimant Name" />
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Claim #:</label>
                                    <input class="form-control" type="text" placeholder="Claim Number Here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Adjuster:</label>
                                    <input class="form-control" type="text" placeholder="Adjust Name Here" />
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Adjuster:</label>
                                    <input class="form-control" type="text" placeholder="Adjust Name Here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Work Status:</label>
                                    <select class="form-control">
                                      <option value="0" selected>Full Duty</option>
                                      <option value="1">half Duty</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Medical Clinic:</label>
                                    <input class="form-control" type="text" placeholder="Medical Clinic" />
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Next Appointment:</label>
                                    <div class="input-group date form_datetime form_datetime bs-datetime">
                                      <input type="text" size="16" class="form-control">
                                      <span class="input-group-addon">
                                        <button class="btn default date-set" type="button">
                                          <i class="fa fa-calendar"></i>
                                        </button>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Claimants Phone:</label>
                                    <input class="form-control" type="text" placeholder="635-555-5555" />
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Reason for Missed Appointment:</label>
                                    <select class="form-control">
                                      <option value="0" selected>All appointment</option>
                                      <option value="1">No Reason Given</option>
                                      <option value="2">No Transpertation</option>
                                      <option value="3">Didn't Know the Appointment Date</option>
                                      <option value="4">Appointment Rescheduled</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>

                        </div>

                        <div class="modal-footer">
                          <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                          <button class="btn green mt-sweetalert" data-dismiss="modal" data-title="Sweet Alerts" data-message="Beautiful popup alerts" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>