                  <div id="update-clamiant-profile" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <button class="btn btn-square btn-sm blue todo-bold todo-inline">Task Type</button>
                          <p class="todo-task-modal-title todo-inline">Policy:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015" />
                          </p>
                          <p class="todo-task-modal-title todo-inline">Assign to claimant:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Claimant First & Last Name</a>
                          </p>
                        </div>

                        <div class="modal-body todo-task-modal-body">
                          <h3 class="todo-task-modal-bg">Update (Claimant Name Here)'s Profile</h3>

                          <h4>Attach Status Report (Make + icon browse for file when clicked)
                            <a class="todo-add-button" href="#">+</a>
                          </h4>
                          <p class="todo-task-file">
                            <i class="fa fa-file-o todo-grey"></i> menu_screen.jpg
                            <i class="fa fa-times todo-remove-file"></i>
                          </p>
                          <p class="todo-task-file">
                            <i class="fa fa-file-o todo-grey"></i> comments.jpg
                            <i class="fa fa-times todo-remove-file"></i>
                          </p>
                          <div class="new-field">
                            <form class="">

                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Work Status:</label>
                                    <select class="form-control">
                                      <option value="0">Light Duty</option>
                                      <option value="1">Full Duty</option>
                                      <option value="2">Off Work</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Medical Clinic: <a class="todo-add-button" href="#" data-toggle="modal" data-target="#medical-clinic-model">+</a></label>
                                    <select class="form-control">
                                      <option value="0">Medical Clinic 1</option>
                                      <option value="1">Medical Clinic 2</option>
                                      <option value="2">Medical Clinic 3</option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Followup Appointment Date:</label>
                                    <div class="input-group date form_datetime form_datetime bs-datetime">
                                      <input type="text" size="16" class="form-control" value="17/04/2015">
                                      <span class="input-group-addon">
                                        <button class="btn default date-set" type="button">
                                          <i class="fa fa-calendar"></i>
                                        </button>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Past Appointment:</label>
                                    <select class="form-control">
                                      <option value="0" selected>All Appointment</option>
                                      <option value="1">Appointment 1</option>
                                      <option value="2">Appointment 2</option>
                                      <option value="3">Appointment 3</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Claimant Cell Phone:</label>
                                    <input class="form-control" type="text" placeholder="Claimant Phone" />
                                  </div>
                                  <div class="col-sm-6">
                                    <label>Branch: <a class="todo-add-button" href="#" data-toggle="modal" data-target="#branch-model">+</a></label>
                                    <select class="form-control">
                                      <option value="0">Branch 1</option>
                                      <option value="1">Branch 2</option>
                                      <option value="2">Branch 3</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label>Department: <a class="todo-add-button" href="#" data-toggle="modal" data-target="#department-model">+</a></label>
                                    <select class="form-control">
                                      <option value="0">Department 1</option>
                                      <option value="1">Department 2</option>
                                      <option value="2">Department 3</option>

                                    </select>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>

                        </div>

                        <div class="modal-footer">
                          <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                          <button class="btn green mt-sweetalert" data-dismiss="modal" data-title="Sweet Alerts" data-message="Beautiful popup alerts" data-allow-outside-click="true" data-confirm-button-class="btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
