<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert_margin alert <%= get_alert_class(name) %>" >
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg.html_safe, id: "flash_#{name}" %>
    </div>
  <% end %>

  <% if msg.is_a?(Array) %>
    <div class="alert_margin alert <%= get_alert_class(name) %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg.first.html_safe, id: "flash_#{name}" %>
    </div>
  <% end %>
  <% flash.discard(name) %>
<% end %>

<script>
  hide_success_flash_message();
  flash_popup();
  function hide_success_flash_message(){
    $(".alert-success" ).delay(7000).fadeOut('slow')
  }

  function flash_popup(){
    if (<%= flash[:notice].present? || flash[:success].present? %>)
      iziToast.success({ position: 'topRight', color: '#a7eef5', message: "<%= flash[:notice] || flash[:success] %>" });
    if (<%= flash[:error].present? %>)
      iziToast.error({ position: 'topRight', message: '<%= flash[:error].html_safe if flash[:error] %>'});
    if (<%= flash[:alert].present? %>)
      iziToast.error({ position: 'topRight', message: '<%= flash[:alert].html_safe if flash[:alert] %>'});
    <% flash.discard %>
  }

</script>