<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner ">

    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="<%= dashboard_path %>" data-remote='true' ><img src="/assets/logo.png" alt="logo" class="logo-default" /></a>
      <div class="menu-toggler sidebar-toggler"> </div>
    </div>
    <!-- END LOGO -->

    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:void(0)" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
    <!-- END RESPONSIVE MENU TOGGLER -->

    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">

        <!-- BEGIN USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-user">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class='abc'>
              <% if @current_user.image.present? && @current_user.image.persisted? %>
                <%= image_tag @image || @current_user.avatar %>
              <% else %>
                <img class="img-circle" src="/assets/no-image.png" alt="">
              <% end %>
            </span>
            <span class="username username-hide-on-mobile"> <%= current_user.full_name %></span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li>
              <a href="<%= edit_user_registration_path %>"><i class="icon-user"></i>My Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="<%= lock_user_path %>"><i class="icon-lock"></i> Lock Screen </a>
            </li>
            <li>
              <a href="<%= destroy_user_session_path %>" data-method="delete"><i class="icon-key"></i> Log Out</a>
            </li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-quick-sidebar-toggler">
          <a href="javascript:void(0)" class="dropdown-toggle">
            <i class="icon-logout"></i>
          </a>
        </li>
        <!-- END QUICK SIDEBAR TOGGLER -->
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->

  </div>
  <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->