<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed <%= "page-sidebar-menu-closed" if is_sidebar_closed? %>" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
      <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
          <a href="javascript:;" class="remove">
            <i class="icon-close"></i>
          </a>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <a href="javascript:;" class="btn submit">
                <i class="icon-magnifier"></i>
              </a>
            </span>
          </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
      </li>
      <li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-home"></i>
          <span class="title">WCA Portal</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">

          <li class="nav-item start active open">
            <a href="/dashboard" data-remote='true' class="nav-link ">
              <i class="icon-clock"></i>
              <span class="title">Task Manager</span>
              <span class="badge badge-success"></span>
            </a>
          </li>

          <% if current_user.is_owner? && is_dashboard? %>
            <li class="nav-item start">
              <a href="<%= clients_path %>" data-remote='true' class="nav-link ">
                <i class="icon-heart"></i>
                <span class="title">All Clients</span>
                <span class="selected"></span>
              </a>
            </li>

            <li class="nav-item start ">
              <a href="<%= new_client_path %>" data-remote="true" class="nav-link ">
                <i class="icon-plus"></i>
                <span class="title">Add a New Clients</span>
                <span class="selected"></span>
              </a>
            </li>

            <li class="nav-item start ">
              <a href="page_general_invoice_2.html" class="nav-link ">
                <i class="icon-credit-card"></i>
                <span class="title">Invoices</span>
                <span class="badge badge-danger"></span>
              </a>
            </li>
          <% end %>

          <% if @business_company.present? %>
            <li class="nav-item start ">
              <a href="<%= preferences_client_business_company_path(@business_company.client.id, @business_company.id) %>" class="nav-link ">
                <i class="icon-settings"></i>
                <span class="title">Company Preferences</span>
                <span class="badge badge-danger"></span>
              </a>
            </li>
          <% end %>

        </ul>
      </li>
    </ul>
  </div>
  <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
