<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %>
<% end %>

<h1>Home Page</h1>

<div class="flash_message"><%= render partial: "shared/flash_message" %></div>

<div class="bottom-wrapper">
  <div class="message center">
    know your password? <%= link_to "Sign in", new_user_session_path %><br/>
    <a href="<%= new_user_password_path %>">Forgotten your password?</a><br/>
    <a href="<%= new_user_confirmation_path %>">Resend Confirmation?</a><br/>
    Don't have an account?  <%= link_to('Sign up', new_user_registration_path) %>
  </div> <!-- end col -->
</div>  <!-- end row -->