<li class="todo-padding-b-0">
  <div class="todo-head">
    <a id="add_bc" href="<%= new_client_business_company_bc_department_path(@business_company.client.id, @business_company.id) %>" data-remote='true' class="btn btn-square btn-sm green todo-bold">Add Department</a>
    <h3 style="vertical-align: sub;">Departments</h3>
  </div>
</li>

<li class="todo-padding-b-0" id="table_index">
  <% if @departments.present? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>

      <tbody>
        <% @departments.each do |department| %>
          <tr id="<%= department.id %>">
            <td><%= department.name.camelize %></td>
            <td>
              <a href="<%= edit_client_business_company_bc_department_path(@business_company.client.id, @business_company.id, department.id) %>" data-remote="true" ><i class="icon-pencil"></i></a>
            </td>
            <td>
              <a href="<%= client_business_company_bc_department_path(@business_company.client.id, @business_company.id, department.id) %>" data-method="delete" data-remote="true" >
                <i style="color:red;" class="icon-trash"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'shared/no_data', locals: { type: 'departments'} %>
  <% end %>
</li>
