<%= nested_form_for @department, url: client_business_company_bc_departments_path(@business_company.client.id, @business_company.id), method: "post", remote: true, html:{ } do |f| %>
  <div class="modal-body">
    <div class="flash"></div>
    <div class="form-group">
      <label for="departmentName">Department Name</label>
      <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'Department Name' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Submit", class: 'btn green' %>
  </div>
<% end %>
