<% if flash[:error].blank? %>
  $("#preferences_index").html("<%= j(render 'index') %>");
  $("#add-prefences-modal").modal('hide');
  $(".flash_message").html("<%= j(render 'shared/flash_message') %>");
<% else %>
  $(".flash").html("<%= j(render 'shared/flash_message') %>");
<% end %>
$(window).scrollTop(0);
