<% if flash[:error].blank? %>
  $('tr#<%= @department.id %>').html('<td><%= @department.name.camelize %></td><td><a href="<%= edit_client_business_company_bc_department_path(@business_company.client.id, @business_company.id, @department.id) %>" data-remote="true" ><i class="icon-pencil"></i></a></td><td><a href="<%= client_business_company_bc_department_path(@business_company.client.id, @business_company.id, @department.id) %>" data-method="delete" data-remote="true" ><i style="color:red;" class="icon-trash"></i></a></td>')
  $("#add-prefences-modal").modal('hide');
  $(".flash_message").html("<%= j(render 'shared/flash_message') %>");
<% else %>
  $(".flash").html("<%= j(render 'shared/flash_message') %>");
<% end %>
$(window).scrollTop(0);
