<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | Reset your password
<% end %>

<div class="content">
  <div class="flash_message">
    <% if !resource.blank? && resource.errors.any? %>
    <div class="alert_margin alert alert-danger">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, resource.errors.full_messages.join('<br/>').html_safe, id: "flash_error" %>
    </div>
    <script>iziToast.error({ position: 'topRight', message: "<%= resource.errors.full_messages.join('<br/>').html_safe %>" });</script>
    <% end %>
  </div>

  <!-- BEGIN FORGOT PASSWORD FORM -->
  <%= nested_form_for(resource, as: resource_name, url: user_password_path, html: { method: :put, class: "forget-edit-form" }) do |f| %>
    <h3 class="font-green">Create Your Password</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
      <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password, autofocus: true, placeholder: "New Password", required: true, class: "form-control placeholder-no-fix", minlength: 8, maxlength: 20 %>
      <small>Password must be 8 or more characters.</small>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", required: true, class: "form-control placeholder-no-fix" %>
    </div>

    <div class="form-actions center">
      <% if request.cookies.blank? %>
        <%= button_tag "Submit", type: 'button', class: "btn btn-success uppercase", data: { disable_with: 'Processing...' }, disabled: true %>
      <% else %>
        <%= f.submit "Submit", class: "btn btn-success uppercase", data: { disable_with: 'Processing...' } %>
      <% end %>
    </div>
  <% end %>
  <!-- END FORGOT PASSWORD FORM -->

  <div class="bottom-wrapper">
    <div class="message center">
      Don't have an account?  <%= link_to('Sign up', new_user_registration_path) %><br/>
      Have an account?  <%= link_to "Sign in", new_session_path(resource_name) %>
    </div>
  </div>
</div>

<script>
  handleEditForgetPassword();
</script>
