<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | Reset your password
<% end %>

<div class="content">
  <div class="flash_message">
    <% if !resource.blank? && resource.errors.any? %>
      <div class="alert_margin alert alert-danger">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, resource.errors.full_messages.join('<br/>').html_safe, id: "flash_error" %>
      </div>
      <script>iziToast.error({ position: 'topRight', message: "<%= resource.errors.full_messages.join('<br/>').html_safe %>" });</script>
    <% end %>
  </div>

  <!-- BEGIN FORGOT PASSWORD FORM -->
  <%= nested_form_for(resource, as: resource_name, url: user_password_path, html: { method: :post, class: "forget-form" }) do |f| %>
    <h3 class="font-green">Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
      <%= f.text_field :email, placeholder: "Email address", class: "form-control placeholder-no-fix", autocomplete: "off" %>
    </div>
    <div class="form-actions center">
      <%= f.submit "Submit", class: "btn btn-success uppercase", data: { disable_with: 'Processing...' } %>
    </div>
  <% end %>
  <!-- END FORGOT PASSWORD FORM -->

  <div class="bottom-wrapper">
    <div class="message center">
      know your password? <%= link_to "Sign in", new_session_path(resource_name) %>
    </div>
  </div>
</div>

<script>
  handleForgetPassword();
</script>
