.modal-dialog .modal-content > .todo-task-modal-body > p {
  color: #000;
}
.modal-dialog .modal-content > .todo-task-modal-body > h4 {
  color: #000;
}
.modal-dialog .modal-content .todo-task-modal-title {
  margin-left: 1em;
}

.extra-field-add {
  padding: 0px;
}
.extra-field-add .form-group {
  margin-left: 0;
  margin-right: 0;
}
.extra-field-add .form-group .todo-task-due {
  margin-left: 0;
}

.profile-sidebar .profile-usermenu {
  margin-top: 0;
}
.profile-sidebar .profile-usermenu .nav li {
  padding: 5px 15px;
}
.profile-sidebar .profile-usermenu .nav li:first-child {
  font-size: 22px;
}

.form-horizontal-new .form-control {
  margin-bottom: 20px;
}

.custom-date .row {
  margin-left: -5px;
  margin-right: -5px;
}

.custom-date .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}

.custom-date label {
  padding-top: 7px;
}

.custom-date input {
  height: 34px;
  padding: 0 7px;
  border: 1px solid #c2cad8;
  width: 100%;
}

.todo-add-button.plus-btn {
  float: left;
  margin: 0;
  padding: 0.07em 0.5em;
}
.todo-add-button.plus-btn.active {
  background-color: #4db3a4;
  color: #fff;
  text-decoration: none;
}

#addNewClinic {
  margin: 10px 0;
  display: none;
}

.search-page .search-bar a.btn {
  height: 55px;
  padding: 15px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

.bs-datetime .input-group-addon {
  padding: 0;
}
.bs-datetime .input-group-addon .btn {
  border: 0;
}

.custom-field-add .form-control {
  width: 95%;
  float: left;
  margin-bottom: 20px;
}

.custom-field-add .btn {
  margin-bottom: 20px;
}

.year-input {
  height: 34px;
  padding: 0 5px;
}

.stylish-input-group .input-group-addon button {
  border: none;
  background: none;
}

.template {
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.template:first-child {
  border-top: 0px solid #ddd;
  padding-top: 0;
}

.portlet.custom-left-box {
  background: none;
}

.todo-container .todo-projects-item p {
  color: #65717b;
}

.page-content-wrapper .page-content {
  min-height: 950px;
}

.sidebar-title {
  font-size: 22px;
  padding: 5px 15px;
  font-weight: bold;
  border-bottom: 1px solid #f0f4f7;
  margin-bottom: 15px;
}

.profile-usermenu ul li.active a.edit-info {
  background: none;
  border: none;
  margin: 0;
  float: right;
  padding: 5px 0;
  display: none;
}

.profile-usermenu:hover ul li.active a.edit-info {
  display: block;
}

#addMoreClinic {
  margin-bottom: 20px;
}

.bctab-content {
  display: none;
}
.bctab-content.active {
  display: block;
}

.profile-usermenu .nav-tabs {
  margin-bottom: 0;
  border: none;
}
.profile-usermenu .nav-tabs li {
  width: 100%;
}
.profile-usermenu .nav-tabs li a {
  border: none;
}
.profile-usermenu .nav-tabs li a:hover {
  border: none;
}
.profile-usermenu .nav-tabs li.active a, .profile-usermenu .nav-tabs li.focus a {
  border-top: none;
  border-bottom: none;
  border-right: none;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  color: #5b9bd1;
  margin-left: -2px;
}

.inline-input .row {
  margin: 0 -5px;
}

.inline-input [class*=col-] { padding-left: 5px; padding-right: 5px;
}

@media (max-width: 767px) {
  .form-group [class*=col-sm-] + [class*=col-sm-] {
    margin-bottom: 15px;
  }
  .custom-date [class*=col-sm-] + [class*=col-sm-] {
    margin-bottom: 15px;
  }
}
.no-data{
  margin-top: -35px;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  border: solid 1px #797e86;
}
.no-data span{
  font-size: 14px;
  display: block;
}

.form-group .error{color: red;}

#all_clients .pagination>a {
  margin: 0 3px;
  border: none;
  background: #ddd;
  color: #666;
  border-radius: 50%!important;
  float: left;
  padding: 6px 12px;
}
#all_clients .pagination>em, #all_clients .pagination>span {
  margin: 0 3px;
  border: none;
  background: #ddd;
  color: #666;
  border-radius: 50%!important;
  float: left;
  padding: 6px 12px;
  cursor: not-allowed;
}
#all_clients em.current{
  font-style: normal;
  color: #fff;
  background-color: #3598DC;
}
#all_clients .pagination>a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3598DC;
}
