<%= nested_form_for @business_client, url: clients_path, method: "post", remote: true, html:{ class: 'form-horizontal', id: 'submit_form' } do |f| %>
  <%= token_tag %>

  <div class="form-wizard">
    <div class="form-body">
      <ul class="nav nav-pills nav-justified steps">

        <li>
          <a href="#tab2" data-toggle="tab" class="step">
            <span class="number"> 1 </span>
            <span class="desc"><i class="fa fa-check"></i> Profile Setup </span>
          </a>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab" class="step active">
            <span class="number"> 2 </span>
            <span class="desc"><i class="fa fa-check"></i> Billing Setup </span>
          </a>
        </li>
        <li>
          <a href="#tab4" data-toggle="tab" class="step">
            <span class="number"> 3 </span>
            <span class="desc"><i class="fa fa-check"></i> Confirm </span>
          </a>
        </li>
      </ul>
      <div id="bar" class="progress progress-striped" role="progressbar">
        <div class="progress-bar progress-bar-success"> </div>
      </div>


      <%= f.fields_for :business_companies do |business_company| %>
        <div class="tab-content">
          <div class="alert alert-danger display-none">
            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
          </div>
          <div class="alert alert-success display-none">
            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
          </div>


          <div class="tab-pane" id="tab2">
            <h3 class="block">Provide your company profile details</h3>
            <div class="form-group">
              <label class="control-label col-md-3">Company Name
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= business_company.text_field :name, class: 'form-control' %>
                <span class="help-block"> Provide your Company name </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Company Phone Number
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= business_company.text_field :phone, class: 'form-control' %>
                <span class="help-block"> Provide your Company phone number </span>
              </div>
            </div>

            <%= business_company.fields_for :address do |ff| %>

              <div class="form-group">
                <label class="control-label col-md-3">Company Address
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= ff.text_field :address, class: "form-control" %>
                  <span class="help-block"> Provide your Company street address </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">Company City/Town
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= ff.text_field :city, class: "form-control" %>
                  <span class="help-block"> Provide your Company city or town </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">Company State
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= ff.text_field :state, class: "form-control" %>
                  <span class="help-block"> Provide your Company State </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">Company Zip
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= ff.text_field :zip, class: "form-control" %>
                  <span class="help-block"> Provide your Company zip code </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3">Company Country</label>
                <div class="col-md-4">
                  <%= ff.country_select(:country,{ selected: "US", prompt: 'Please select..' }, { class: "form-control", required: true }) %>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <label class="control-label col-md-3">Company Contact Name
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= f.text_field :name, class: 'form-control' %>
                <span class="help-block"> This is the name of the person we should contact. </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Company Contact Email
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= f.text_field :email, class: 'form-control' %>
                <span class="help-block"> This is the email of the person we should contact. </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3" style="white-space: nowrap;">Company Contact Phone Number<span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= f.text_field :phone, class: 'form-control' %>
                <span class="help-block"> This is the phone number of the person we should contact. </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Notepad</label>
              <div class="col-md-4">
                <%= business_company.text_area :notepad, class: 'form-control' %>
                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Who Should We Bill?</label>
              <div class="col-md-4">
                <%= business_company.select :who_to_bill, options_for_select(BusinessCompany::WHO_TO_BILL, business_company.object.who_to_bill), {}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab3">
            <h3 class="block">Provide your billing and credit card details</h3>
            <%= business_company.fields_for :payment_profiles do |payment_profile| %>
              <div class="form-group">
                <label class="control-label col-md-3">Card Holder Name
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= payment_profile.text_field :card_name, class: 'form-control' %>
                  <span class="help-block"> </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Card Number
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= payment_profile.text_field :card_number, class: 'form-control', minlength: "13", maxlength: "16" %>
                  <span class="help-block"> </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">CVC
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= payment_profile.text_field :card_cvc, class: 'form-control' %>
                  <span class="help-block"> </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Expiration(MM/YYYY)
                  <span class="required"> * </span>
                </label>
                <div class="col-md-4">
                  <%= payment_profile.text_field :card_expiry_date, placeholder: "MM/YYYY", maxlength: "7", class: 'form-control' %>
                  <span class="help-block"> e.g 11/2020 </span>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <label class="control-label col-md-3">Payment Options
                <span class="required"> * </span>
              </label>
              <div class="col-md-4">
                <%= business_company.select :payment_options, options_for_select(BusinessCompany::PAYMENT_OPTIONS, business_company.object.payment_options), {}, class: "form-control" %>
                <div id="form_payment_error"> </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab4">
            <h3 class="block">Confirm your account</h3>

            <h4 class="form-section">Profile</h4>
            <div class="form-group">
              <label class="control-label col-md-3">Company Name:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][name]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Phone Number:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][phone]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Company Address:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][address_attributes][address]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Company City/Town:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][address_attributes][city]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company State:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][address_attributes][state]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Zip:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][address_attributes][zip]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Country:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][address_attributes][country]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Contact Name:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[name]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Contact Email:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[email]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Company Contact Phone Number:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[phone]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Notepad:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][notepad]"> </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Who Should We Bill:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][who_to_bill]"> </p>
              </div>
            </div>

            <h4 class="form-section">Billing</h4>

            <div class="form-group">
              <label class="control-label col-md-3">Card Holder Name:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][payment_profiles_attributes][0][card_name]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Card Number:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][payment_profiles_attributes][0][card_number]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">CVC:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][payment_profiles_attributes][0][card_cvc]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Expiration:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][payment_profiles_attributes][0][card_expiry_date]"> </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Payment Options:</label>
              <div class="col-md-4">
                <p class="form-control-static" data-display="business_client[business_companies_attributes][0][payment_options]"> </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <a href="javascript:void(0)" class="btn default button-previous">
            <i class="fa fa-angle-left"></i> Back
          </a>
          <a href="javascript:void(0)" class="btn btn-outline green button-next">
            Continue<i class="fa fa-angle-right"></i>
          </a>
          <a href="javascript:void(0)" id="button_next" class="btn btn-outline green display-none" onclick="validate_stripe()">
            Continue<i class="fa fa-angle-right"></i>
          </a>
          <button type="submit" class="btn green button-submit">Submit<i class='fa fa-check'></i></button>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
  function init_stripe(){
    Stripe.setPublishableKey("<%= APP_CONFIG['stripe_pg_public_token'] %>");
  }
</script>