<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->

    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="/" data-remote='true' >Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <a href="#">All Clients</a>
        </li>
      </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> All Clients
      <small></small>
    </h3>
    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="search-page search-content-4" id="all_clients">
      <div class="search-bar bordered">
        <div class="row">
          <div class="col-lg-8">
            <div class="input-group">
              <%= form_tag clients_path, method: 'get', remote: true do %>
                <%= autocomplete_field_tag :search, params[:search], autocomplete_clients_path, class: "form-control", placeholder: "Search for client...", remote: true %>
                <%= submit_tag '', id: "search_bar", style: "display: none;" %>
              <% end %>

              <span class="input-group-btn">
                <button class="btn green-soft uppercase bold" onclick="$('.input-group form #search_bar').click()" type="button">Search</button>
              </span>
            </div>
          </div>
          <div class="col-lg-4 extra-buttons">
            <button class="btn grey-steel uppercase bold" type="button">Reset Search</button>
            <a href="<%= new_client_path %>" data-remote="true" class="btn grey-cararra font-blue" type="button">Add New Client</a>
          </div>
        </div>
      </div>
      <% if @business_companies.present? %>
        <div class="search-table table-responsive">
          <table class="table table-bordered table-striped table-condensed">
            <thead class="bg-blue">
              <tr>
                <th><a href="javascript:void(0)">Status</a></th>
                <th><a href="javascript:void(0)">Joined Date</a></th>
                <th><a href="javascript:void(0)">Company Name</a></th>
                <th><a href="javascript:void(0)">Pending/Completed Tasks</a></th>
                <th><a href="javascript:void(0)">View</a></th>
              </tr>
            </thead>
            <tbody>
              <% @business_companies.decorate.each do |business_company| %>
                <tr>
                  <td class="table-status">
                    <a href="javascript:void(0)">
                      <i class="icon-arrow-right font-blue"></i>
                    </a>
                  </td>
                  <td class="table-date font-blue">
                    <a href="javascript:void(0)"><%= business_company.joined_at %></a>
                  </td>
                  <td class="table-title">
                    <h3>
                      <a href="<%= client_business_company_path(business_company.client.id, business_company.id) %>"><%= business_company.company_name %></a>
                    </h3>
                    <p>Last Activity:
                      <a href="javascript:void(0)">Employee name</a> -
                      <span class="font-grey-cascade"><%= business_company.last_activity %></span>
                    </p>
                  </td>
                  <td class="table-desc"> Pending Tasks: (Number of pending tasks) <br> Completed Tasks: (Number of completed tasks) </td>
                  <td class="table-download">
                    <a href="javascript:void(0)">
                      <i class="icon-doc font-green-soft"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="search-pagination pagination-rounded">
          <%= will_paginate(@business_companies, class: 'pagination') %>
        </div>
      <% else %>
        <div class="no-data">No business clients found.</div>
      <% end %>
    </div>
  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
