<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">

  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="/" data-remote='true' >Home</a>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>Add New Client</span>
        </li>
      </ul>
    </div>
    <!-- END PAGE BAR -->

    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> New Client Setup Wizard
      <small></small>
    </h3>

    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->

    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
          <div class="portlet-title">
            <div class="portlet-body form">
              <%= render partial: 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END CONTENT BODY -->

</div>
<!-- END CONTENT -->
