<% if flash[:error].present? %>
  $(".flash_message").html("<%= j(render partial: 'shared/flash_message') %>");
<% else %>
  $(".render_class").html("<%= j(render partial: 'users/dashboard/dashboard') %>");
  $('title').text("<%= APP_CONFIG['project_name'] %> | Task Manager");
<% end %>
$(window).scrollTop(0);