$('.render_class').html("<%= j(render partial: 'index') %>");
$('title').text("<%= APP_CONFIG['project_name'] %> | All Clients");
$('#all_clients .pagination a').attr('data-remote', 'true');
$(window).scrollTop(0);
