<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "dashboard", media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag "dashboard", 'data-turbolinks-track': true %>
  </head>
  <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white <%= "page-sidebar-closed" if is_sidebar_closed? %>">

    <div id="header_section">
      <%= render partial: 'shared/header' %>
    </div>

    <div class="clearfix"></div>
    <div class="page-container">
      <div class="left_sidebar">
        <%= render partial: 'shared/left_sidebar' %>
      </div>
      <div class="render_class">
        <%= yield %>
      </div>

      <%= render partial: 'shared/right_sidebar' %>
      <div class="pop_up">
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
