<!DOCTYPE html>
<html>
  <head>
    <title><%= APP_CONFIG['project_name'] %> | User Locked</title>
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'registration', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'registration', 'data-turbolinks-track': true %>
    <%= stylesheet_link_tag 'lock.min' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
