<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'registration', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'registration', 'data-turbolinks-track': true %>
  </head>
  <body class="login">
    <div class="logo"><a href="/"><img src="/assets/logo-big.png" alt="" /></a></div>
    <%= yield %>
    <div class="copyright"> <%= Time.now.year %> © <%= APP_CONFIG['project_name'] %> </div>
  </body>
</html>
