<% if flash[:error].blank? %>
  $('tr#<%= @branch.id %>').html('<td><%= @branch.name.camelize %></td> <td> <a href="<%= edit_client_business_company_bc_branch_path(@business_company.client.id, @business_company.id, @branch.id) %>" data-remote="true" ><i class="icon-pencil"></i></a></td><td><a href="<%= client_business_company_bc_branch_path(@business_company.client.id, @business_company.id, @branch.id) %>" data-method="delete" data-remote="true" ><i style="color:red;" class="icon-trash"></i></a></td>');
  $("#add-prefences-modal").modal('hide');
  $(".flash_message").html("<%= j(render 'shared/flash_message') %>");
<% else %>
  $(".flash").html("<%= j(render 'shared/flash_message') %>");
<% end %>
$(window).scrollTop(0);
