<div class="profile-content">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light ">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#user_info" aria-controls="info" role="tab" data-toggle="tab">Personal Info</a></li>
            <li role="presentation"><a href="#change_avatar" aria-controls="policy" role="tab" data-toggle="tab">Change Avatar</a></li>
            <li role="presentation"><a href="#change_password" aria-controls="password" role="tab" data-toggle="tab">Change Password</a></li>
            <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Privacy Settings</a></li> -->
          </ul>
        </div>
        <!-- portlet-title -->
        <div class="portlet-body">
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- PERSONAL INFO TAB -->
            <div role="tabpanel" class="tab-pane active" id="user_info">
              <%= nested_form_for @user, url: user_registration_path, method: "put", remote: true, html:{ class: 'user_form', id: 'user_info_form' } do |f| %>
                <div class="form-group">
                  <label class="control-label">First Name</label>
                  <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
                </div>
                <div class="form-group">
                  <label class="control-label">Last Name</label>
                  <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>

                </div>
                <div class="form-group">
                  <label class="control-label">Phone Number</label>
                  <%= f.text_field :phone, placeholder: "9xxxxxxxx1", class: "form-control" %>                </div>
                <div class="margiv-top-10">
                  <%= f.submit "Save Changes", class: "btn green" %>
                  <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                </div>
              <% end %>
            </div>
            <!-- END PERSONAL INFO TAB -->
            <!-- CHANGE AVATAR TAB -->
            <div role="tabpanel" class="tab-pane" id="change_avatar">
              <%= nested_form_for @user, url: user_registration_path, method: "put", remote: true, html:{ class: 'user_form', id: 'user_image_form' } do |f| %>
                <div class="form-group">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                      <% if @user.image.present? && @user.image.persisted? %>
                        <%= image_tag @image || @user.avatar %>
                      <% else %>
                        <img src="/assets/no-image.png" alt="">
                      <% end %>
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                    <div>
                      <span class="btn default btn-file">
                        <span class="fileinput-new" onclick="$('#user_image_attributes_image').click()"> Select image </span>
                        <span class="fileinput-exists" onclick="$('#user_image_attributes_image').click()"> Change </span>
                      </span>
                      <a href="javascript:void(0)" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                    </div>
                    <%= f.fields_for :image do |ff| %>
                      <%= ff.file_field :image, style: 'display: none !important;' %>
                    <% end %>
                  </div>
                  <div class="clearfix margin-top-10">
                    <span class="label label-danger">NOTE!</span>
                    <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                  </div>
                </div>
                <div class="margin-top-10">
                  <%= f.submit "Submit", class: "btn green" %>
                  <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                </div>
              <% end %>
            </div>
            <!-- END ICHANGE AVATAR TAB -->
            <!-- CHANGE PASSWORD TAB -->
            <div role="tabpanel" class="tab-pane" id="change_password">
              <%= nested_form_for @user, url: user_registration_path, method: "put", remote: true, html:{ class: 'user_form', id: 'user_password_form' } do |f| %>
                <div class="form-group">
                  <label class="control-label">Current Password</label>
                  <%=  f.password_field :current_password, class: 'form-control', placeholder: 'Re-type New Password' %>
                </div>
                <div class="form-group">
                  <label class="control-label">New Password</label>
                  <%=  f.password_field :password, class: 'form-control', placeholder: 'New Password' %>
                </div>
                <div class="form-group">
                  <label class="control-label">Re-type New Password</label>
                  <%=  f.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-type New Password' %>
                </div>
                <div class="margin-top-10">
                  <%= f.submit "Change Password", class: "btn green" %>
                  <a href="javascript:void(0)" class="form_cancel_btn btn default"> Cancel </a>
                </div>
              <% end %>
            </div>
            <!-- END CHANGE PASSWORD TAB -->
            <!-- PRIVACY SETTINGS TAB -->
            <div role="tabpanel" class="tab-pane" id="settings">
              <form action="#">
                <table class="table table-light table-hover">
                  <tr>
                    <td> Notify Adjuster of New Status Report </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Full Duty Release </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Off Work Status </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Light Duty Status </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Adjuster of Missed Appointment</td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Adjuster of New Claim </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Missed Appointment Call </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Missing Information Call </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Call For Medical Clinic Information </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Missing Claimant Information Reminder </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td> Notify Employer of Missing Claimant Information </td>
                    <td>
                      <label class="uniform-inline">
                        <input type="checkbox" value="" /> Yes
                      </label>
                    </td>
                  </tr>

                </table>
                <!--end profile-settings-->
                <div class="margin-top-10">
                  <a href="javascript:void(0)" class="btn red"> Save Changes </a>
                  <a href="javascript:void(0)" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END PRIVACY SETTINGS TAB -->
          </div>

        </div><!-- portlet-body -->
      </div><!-- portlet -->
    </div>
  </div>
</div><!-- profile-content -->

<script type="text/javascript">
  validate_edit_user($('#user_password_form'));
  validate_edit_user($('#user_info_form'));
  validate_edit_user($('#user_image_form'));

  $('#user_image_form').submit(function(){
    debugger
    var form = $(this);
    if(form.valid()){
      $.ajax({
        url: form[0].action,
        dataType: "script",
        type: 'PUT',
        data: new FormData(form[0]),
        contentType: false,
        cache: false,
        processData:false
      });
    }
    event.preventDefault();
    event.stopImmediatePropagation();
    return false;
  });
</script>
