<!-- START TASK LIST -->
<ul class="task-list">
  <li>
    <div class="task-checkbox">
      <input type="hidden" value="1" name="test" />
      <input type="checkbox" class="liChild" value="2" name="test" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Present 2013 Year IPO Statistics at Board Meeting </span>
      <span class="label label-sm label-success">Company</span>
      <span class="task-bell">
        <i class="fa fa-bell-o"></i>
      </span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Hold An Interview for Marketing Manager Position </span>
      <span class="label label-sm label-danger">Marketing</span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> AirAsia Intranet System Project Internal Meeting </span>
      <span class="label label-sm label-success">AirAsia</span>
      <span class="task-bell">
        <i class="fa fa-bell-o"></i>
      </span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Technical Management Meeting </span>
      <span class="label label-sm label-warning">Company</span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Kick-off Company CRM Mobile App Development </span>
      <span class="label label-sm label-info">Internal Products</span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Prepare Commercial Offer For SmartVision Website Rewamp </span>
      <span class="label label-sm label-danger">SmartVision</span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Sign-Off The Comercial Agreement With AutoSmart </span>
      <span class="label label-sm label-default">AutoSmart</span>
      <span class="task-bell">
        <i class="fa fa-bell-o"></i>
      </span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> Company Staff Meeting </span>
      <span class="label label-sm label-success">Cruise</span>
      <span class="task-bell">
        <i class="fa fa-bell-o"></i>
      </span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="last-line">
    <div class="task-checkbox">
      <input type="checkbox" class="liChild" value="" />
    </div>
    <div class="task-title">
      <span class="task-title-sp"> KeenThemes Investment Discussion </span>
      <span class="label label-sm label-warning">KeenThemes </span>
    </div>
    <div class="task-config">
      <div class="task-config-btn btn-group">
        <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-cog"></i>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa fa-check"></i> Complete
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-pencil"></i>Edit
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa fa-trash-o"></i>Cancel
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<!-- END START TASK LIST -->
