<div class="profile-userpic">
  <% if @user.image.present? && @user.image.persisted? %>
    <%= image_tag @image || @user.avatar, class: "img-responsive" %>
  <% else %>
    <img src="/assets/no-image.png" class="img-responsive" alt="">
  <% end %>
</div>
<!-- END SIDEBAR USERPIC -->
<!-- SIDEBAR USER TITLE -->
<div class="profile-usertitle">
  <div class="profile-usertitle-name"><%= @user.full_name %></div>
  <div class="profile-usertitle-job"><%= @user.role_type %></div>
</div>
