<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | User Profile
<% end %>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> WCA User Profile
      <small></small>
    </h3>
    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
          <!-- PORTLET MAIN -->
          <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR USERPIC -->
            <div class="user_content">
              <%= render partial: "user_content" %>
            </div>
            <!-- END SIDEBAR USER TITLE -->

            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
              <ul class="nav nav-tabs">
                <li class="active user_overview">
                  <a href="#user-overview" aria-controls="overview" role="tab" data-toggle="tab" class="main_overview_link"><i class="icon-home"></i> Overview </a>
                </li>
                <li>
                  <a href="#user-account" aria-controls="overview" role="tab" data-toggle="tab"><i class="icon-settings"></i> Account Settings </a>
                </li>
              </ul>
            </div>
            <!-- END MENU -->
          </div>
          <!-- END PORTLET MAIN -->

        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->

        <div class="tab-content">
          <!-- USER OVERVIEW TAB -->
          <div id="user-overview" role="tabpanel" class="tab-pane active">
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
              <div class="row">
                <div class="col-md-6">
                  <!-- BEGIN PORTLET -->
                  <div class="portlet light ">
                    <div class="portlet-title">
                      <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
                        <span class="caption-helper hide">weekly stats...</span>
                      </div>
                      <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                          <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Today
                          </label>
                          <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Week
                          </label>
                          <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Month
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="row number-stats margin-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="stat-left">
                            <div class="stat-chart">
                              <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                              <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                              <div class="title"> Total </div>
                              <div class="number"> 2460 </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="stat-right">
                            <div class="stat-chart">
                              <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                              <div id="sparkline_bar2"></div>
                            </div>
                            <div class="stat-number">
                              <div class="title"> New </div>
                              <div class="number"> 719 </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                          <thead>
                            <tr class="uppercase">
                              <th colspan="2"> MEMBER </th>
                              <th> Earnings </th>
                              <th> CASES </th>
                              <th> CLOSED </th>
                              <th> RATE </th>
                            </tr>
                          </thead>
                          <tr>
                            <td class="fit">
                              <img class="user-pic" src="/assets/avatars/avatar4.jpg">
                            </td>
                            <td>
                              <a href="javascript:;" class="primary-link">Brain</a>
                            </td>
                            <td> $345 </td>
                            <td> 45 </td>
                            <td> 124 </td>
                            <td>
                              <span class="bold theme-font">80%</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fit">
                              <img class="user-pic" src="/assets/avatars/avatar5.jpg">
                            </td>
                            <td>
                              <a href="javascript:;" class="primary-link">Nick</a>
                            </td>
                            <td> $560 </td>
                            <td> 12 </td>
                            <td> 24 </td>
                            <td>
                              <span class="bold theme-font">67%</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fit">
                              <img class="user-pic" src="/assets/avatars/avatar6.jpg">
                            </td>
                            <td>
                              <a href="javascript:;" class="primary-link">Tim</a>
                            </td>
                            <td> $1,345 </td>
                            <td> 450 </td>
                            <td> 46 </td>
                            <td>
                              <span class="bold theme-font">98%</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="fit">
                              <img class="user-pic" src="/assets/avatars/avatar7.jpg">
                            </td>
                            <td>
                              <a href="javascript:;" class="primary-link">Tom</a>
                            </td>
                            <td> $645 </td>
                            <td> 50 </td>
                            <td> 89 </td>
                            <td>
                              <span class="bold theme-font">58%</span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- END PORTLET -->
                </div>
                <div class="col-md-6">
                  <!-- BEGIN PORTLET -->
                  <div class="portlet light  tasks-widget">
                    <div class="portlet-title">
                      <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Tasks</span>
                        <span class="caption-helper">16 pending</span>
                      </div>
                      <div class="inputs">
                        <div class="portlet-input input-small input-inline">
                          <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="search...">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                          <%= render partial: 'tasks' %>
                        </div>
                      </div>
                      <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                          <a href="javascript:;">See All Tasks</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END PORTLET -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                </div>
              </div>
            </div>
            <!-- END PROFILE CONTENT -->
          </div>
          <!-- END USER OVERVIEW TAB -->

          <!-- USER ACCOUNT TAB -->
          <div id="user-account" role="tabpanel" class="tab-pane">
            <%= render partial: 'edit_form' %>
          </div>
          <!-- End USER ACCOUNT TAB -->
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
