<% content_for :title do %>
  <%= APP_CONFIG['project_name'] %> | Sign Up
<% end %>

<div class="content">
  <!-- BEGIN REGISTRATIONS FORM -->
  <%= nested_form_for(@user, url: user_registration_path, method: "post", html: { class: "register-form"}) do |f| %>
    <h3 class="font-green">Sign Up</h3>
    <div class="flash_message"><%= render partial: "shared/flash_message" %></div>
    <p class="hint"> Enter your personal details below: </p>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">First Name</label>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control placeholder-no-fix", required: true %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Last Name</label>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control placeholder-no-fix", required: true %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Email</label>
      <%= f.text_field :email, placeholder: "Email", class: "form-control placeholder-no-fix", required: true %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Phone</label>
      <%= f.text_field :phone, placeholder: "Phone", class: "form-control placeholder-no-fix", required: true %>
    </div>

    <%= f.fields_for :address do |ff| %>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Address</label>
        <%= ff.text_field :address, placeholder: "Address", class: "form-control placeholder-no-fix" %>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">City/Town</label>
        <%= ff.text_field :city, placeholder: "City/Town", class: "form-control placeholder-no-fix" %>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">State</label>
        <%= ff.text_field :state, placeholder: "State", class: "form-control placeholder-no-fix" %>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Zip</label>
        <%= ff.text_field :zip, placeholder: "Zip", class: "form-control placeholder-no-fix" %>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Country</label>
        <%= ff.country_select(:country,{ selected: @user.country.present? ? @user.country : "US", prompt: 'Please select..' }, { class: "form-control", required: true }) %>
      </div>

    <% end %>

    <p class="hint"> Enter your account details below: </p>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <%= f.text_field :username, placeholder: "Username", class: "form-control placeholder-no-fix", required: true %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <%= f.password_field :password, placeholder: "Password", class: "form-control placeholder-no-fix", id: "register_password", required: true, minlength: 8, maxlength: 20 %>
    </div>

    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>


      <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" />


      <p class="hint">Password must be 8 or more characters </p>
    </div>

    <div class="form-group margin-top-20 margin-bottom-20">
      <label class="check">
          <input type="checkbox" name="tnc" /> I agree to the
          <a href="javascript:;"> Terms of Service </a> &
          <a href="javascript:;"> Privacy Policy </a>
      </label>
      <div id="register_tnc_error"> </div>
    </div>

    <div class="form-actions center" style="margin-bottom: 15px;margin-top: -25px;">
      <%= f.submit "Create my account", class: "btn btn-success uppercase", id: "register-submit-btn", data: { disable_with: 'Processing...' } %>
    </div>
  <% end %>
  <!-- END REGISTRATIONS FORM -->

  <div class="bottom-wrapper">
    <div class="message center">
      Already have an account?  <%= link_to "Sign in", new_session_path(resource_name) %>
    </div> <!-- end col -->
  </div>  <!-- end row -->
</div>

<script type="text/javascript">
  handleRegistration();
</script>
