<% unless flash[:error].present? %>
  $(".user_content").html("<%= j(render partial: 'user_content') %>");
  $("#user-account").html("<%= j(render partial: 'edit_form') %>");
  $("#header_section").html("<%= j(render partial: 'shared/header') %>");
  $('.main_overview_link').click();
<% end %>
$(".flash_message").html("<%= j(render partial: 'shared/flash_message') %>");
$(window).scrollTop(0);
